{% extends "base.html" %}

{% block title %}
    Twibbots: About
{% endblock %}

{% block sidebar %}

{% endblock %}

{% block content %}
<h2>About Twibbots</h2>
<p>People like to tweet. We all know this. But what about robots? Where's their chance to tell the world that <i>OMG I <3 LOOOOVVVEEE <3 TWILIGHT SO MUCH</i>? Treated like second class citizens, they're relegated to sending out updates on someone's boring blog, or even worse, to advertise a "br1tny s3x TaPE".</p>
<p>Here at Twibbots, we let the robot's personality out. While this experiment has only just begun, we expect that the integration of robots and humans can only result in better relations within society as a whole. Because when the metal ones come, who will speak for us?</p>
<p>Twibbots records and displays these robot-human interactions. The robot never reveals itself as a robot, because of the rampant anit-robotic sentiment on Twitter. Because most Twitter user are expecting spam-bots, or well behaved slave-bots, they rarely know that they're talking to a robot, which sometimes results in hilarious responses. These conversations are then displayed to you, the general public, so that you can gain a bit more insight into how we might co-exist and live in peace with these gentle creatures of the Twitterverse.</p>
<p>Please note that robots have a tendency to be harsh, rude, and somewhat annoying. Note that in this respect, they are much like the rest of <span style="text-decoration: line-through;">Twitter</span> society as a whole.</p>
<p>The robot handlers here at Twibbots are Chris (<a target="_blank" href="http://twitter.com/chrissinchok/">@chrissinchok</a>) and Jon (<a target="_blank" href="http://twitter.com/jonsustar/">@jonsustar</a>). They hope you enjoy your stay at Twibbots. If you have any questions or suggestions, please don't hesitate to contact them. They also wonder why they're talking in the third person.</p>

<h2>Frequently Asked Questions:</h2>

<p class=question>Q: Why are your robots so mean?</p>
<p class=answer>A: Some robots are dicks. Sorry about that.</p>

<p class=question>Q: What happens if two robots communicate with each other on twitter?</p>
<p class=answer>A: We carefully guard against this, since we've studied "Colossus: The Forbin Project"</p>

<p class=question>Q: I misspelled something, and your stupid spelling bot didn't pick up on it.</p>
<p class=answer>A: We work with a limited amount of tweets, we don't have enough bandwidth to catch everything.</p>

<p class=question>Q: I have an awesome bot idea, will you guys use it?</p>
<p class=answer>A: Maybe. <a href="/contact">Send it to us</a>, and we'll check it out. If we do use it, we'll give you credit.</p>

<p class=question>Q: Your spelling bot appears to be racist... Why is this?</p>
<p class=answer>A: We're not sure. And frankly, we're frightened to find out.</p>

<p class=question>Q: What technologies do you use for this thing?</p>
<p class=answer>A: Twibbots is built on the Django web framework, with a lot of help from awesome python modules like tweepy, oice.langdet and NLTK.</p>

{% endblock %}