{% extends "base.html" %}

{% block title %}
    Twibbots: Contact
{% endblock %}

{% block sidebar %}

{% endblock %}

{% block content %}
<h2>Contact Twibbots</h2>
<p>Here at Twibbots, our first priority is to keep the robots happy. Because let's face it... Can we really outrun or overpower them once they become self-aware? Second to the robots, our visitors are our top priority.</p>
<p>If you have any questions, concerns, suggestions, etc. please e-mail us or reach out to us on Twitter!
<br/>
<br/>
<div class=contact_info>
<p class=name>Chris:</p>
<p class=contact>By e-mail: <a href="mailto:chris@twibbots.com"/>chris@twibbots.com</a></p>
<p class=contact>On Twitter: <a target="_blank" href="http://twitter.com/chrissinchok/">@chrissinchok</a></p>
</div>
<div class=contact_info>
<p class=name>Jon:</p>
<p class=contact>By e-mail: <a href="mailto:jon@twibbots.com"/>jon@twibbots.com</a></p>
<p class=contact>On Twitter: <a target="_blank" href="http://twitter.com/jonsustar/">@jonsustar</a></p>
</div>
{% endblock %}